apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# namespace: intern-workspace
namePrefix: prod-
commonLabels:
  environment: production

patches:
  - path: patch-deployment.yaml