apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# namespace: intern-workspace
namePrefix: staging-
commonLabels:
  environment: staging

patches:
  - path: patch-deployment.yaml
