#BACKEND
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: employee-backend
          env:
            - name: NODE_ENV
              value: "staging"
            - name: LOG_LEVEL
              value: "info"

---

# FRONTEND 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: employee-frontend
          env:
            - name: VITE_API_URL
              value: "https://staging-api.example.com"
            - name: MODE
              value: "staging"
